{{#each context}}
<h1>THRE IS THE NUMBER</h1>
{{/each}}

<section class="jumbotron text-left">
    <h3> Search Results </h3>
    <dl class="col">
        {{#each this}}
            <dt class = "col-2"><a href="./basic_profile.html">{{#each Userinfo}}{{this.firstName}} {{this.lastName}}{{/each}}</a></dt>
            <dd class = "col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Classes: {{#each Classes}} {{this.description}}{{/each}} 
                    </div>
                    <div class="col-sm">
                    Skills:  {{#each Subjects}} {{this.description}}{{/each}} 
                    </div>
                    <div class="col-sm">
                    Organization: {{#each Organization}} {{this.description}}{{/each}} 
                    </div>
                </div>
            </div>
            </dd>
        {{/each}}
    </dd>
</section>
